.skip-to-main-link {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip-to-main-link:focus {
	position: unset; /* static; */
	width: unset; /* auto; */
	height: unset; /*  auto; */
}
